#wrap {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 8px;
  padding: 5px;
  background: #fff;
  font-family: AvenirLTStd, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
}

#wrap fieldset,
fieldset {
  margin: 10px;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

#wrap legend {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  font-weight: bold;
  font-style: italic;
  padding: 5px 10px 0px 10px;
}

#wrap input[type="date"]:hover,
#wrap input[type="date"]:active {
  background-color: #FAF398;
}

#wrap input[type="date"] {
  background: lightgray;
  font-size: 1.3em;
  margin: 5px;
  padding: 0px 0px 3px 10px;
  border-radius: 5px;
}

#wrap button#submit {
  margin: 10px 10px 10px 10px;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  background-color: lightgreen;
  border-color: lightgreen;
}

#wrap p {
  text-align: center;
}

#newDateBox {
  display: block;
  margin: 0px 5em 0px 5em;
  background: lightblue;
  border-radius: 5px;
}

#newDate {
  font-size: 1.3em;
  margin: 2px;
  text-align: center;
  padding: 1em 0px 1em 0px;
}